#wrapper {
    width: 1920px;
    margin: 0 auto;
    background-color: lightgray;
}

#nav_bar {
    width: 980px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

li {
    display: inline;
}

#left_section {
    width: 280px;
    height: 1080px;
    background-color: #4D45B2;
    float: left;
    margin-top: 20px;
}

#main_section {
    width: 680px;
    height: 1080px;
    background-color: green;
    float: left;
    margin-left:40px;
    margin-top: 20px;
}